.header-component-searchbar{
  height: 100%;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: border-box; 
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}