html, body{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

::-webkit-input-placeholder {
  font-weight: 300;
}
::-moz-placeholder {
  font-weight: 300;
}
:-ms-input-placeholder {
  font-weight: 300;
}
:-moz-placeholder {
  font-weight: 300;
}

.dropdown-item{
  font-weight: 300 !important;
}

#searchBarCategoryItemActive{
  background-color: #d5e5f5;
  color: #067ae9;
  font-weight: bold !important;
}

button[class*="CategorySelect"].btn-success:hover,
.dropdown-toggle{
  border-color: #ebebed !important;
}

input:focus:not(.is-invalid){
  outline: none !important;
  border: 1px solid #2681db !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

input.is-invalid:focus{
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}