html, body{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  height: 100%;
}

#__next{
  height: 100%;
}

::-webkit-input-placeholder {
  font-weight: 300;
}
::-moz-placeholder {
  font-weight: 300;
}
:-ms-input-placeholder {
  font-weight: 300;
}
:-moz-placeholder {
  font-weight: 300;
}

#searchBarCategoryItemActive{
  background-color: #d5e5f5;
  color: #067ae9;
  font-weight: 500 !important;
}

.toastModal .modal-sm{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  max-width: 150px !important;
}

/* Bootstrap Form global styles */
button[class*="CategorySelect"].btn-success:hover,
.dropdown-toggle{
  border-color: #ebebed !important;
}

input:focus:not(.is-invalid),
textarea:focus{
  outline: none !important;
  border: 1px solid #2681db !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px !important;
}

textarea{
  font-size: 15px !important;
}

input.is-invalid:focus{
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

label:not(.form-check-label){
  font-weight: 500;
  text-align: right;
}

.form-check{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 30px;
  margin-bottom: 0;
}

.form-check .form-check-label{
  display: flex;
  margin-top: 3px;
  margin-left: 10px;
}

.form-check input[type="radio"].form-check-input,
.form-check input[type="checkbox"].form-check-input{
  height: 20px;
  width: 20px;
  display: flex;
  background-color: #ffffff;
  border-color: #ced4da;
}

.form-check input[type="radio"]:checked.form-check-input,
.form-check input[type="checkbox"]:checked.form-check-input{
  background-color: #57c07b;
  border-color: #57c07b;
}

.form-check input[type="radio"]:focus:not(.is-invalid).form-check-input,
.form-check input[type="checkbox"]:focus:not(.is-invalid).form-check-input{
	border-color: #57c07b !important;
}

.form-check input[type="radio"],
.form-check input[type="checkbox"]{
  transition: background-color .2s linear;
}

.form-check input[type="radio"]:hover,
.form-check input[type="checkbox"]:hover{
  background-color: #ececee;
}

input:focus:not(.is-invalid).form-control,
textarea:focus.form-control{
	box-shadow: 0 0 5px #2681db !important;
}

.form-group.row{
  align-items: center;
}

.alert{
  word-break: break-word !important;
}

/* Bootstrap missing */
.close{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;

  box-sizing: content-box;
  width: 1em;
  height: 1em;
  color: #000;
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3E%3Cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
  border: 0;
  border-radius: .25rem;
  opacity: .5;
}

.closeInline{
  display: inline-block;
  z-index: 2;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  color: #000;
  background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3E%3Cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
  border: 0;
  border-radius: .25rem;
  opacity: .5;
  cursor: pointer;
}

.badge .closeInline{
  margin-left: 10px;
}

.close > span{
  display: none;
}

.btn-primary.dropdown-toggle {
  color: unset !important;
  background-color: unset !important;
  border-color: unset !important;
}

select.form-control{
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  appearance: none;
}