.MenuDropDownWrapper{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.MenuDropDownWrapper:hover{
  font-weight: bold;
}

.MenuDropDownWrapper .dropdown-menu{
  padding: 0 !important;
  border: 1px solid rgb(226, 226, 226) !important;
}

.MenuDropDown{
  overflow: hidden;
}

.MenuDropDownWrapper .dropdown-menu.show{
  inset: -2px auto auto 0px !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.MenuDropDownLeftItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #d9d9d9;
  height: 40px;
}