.add_post_form{
  
}

.add_post_form_tags_remark{
  color: #999999;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 300;
}

.add_post_form_optional_title{
  font-weight: normal;
}

.add_post_form_category_flex{
  display: flex;
  flex-direction: row;
  align-items: center;

  > span,
  > a{
    display: flex;
  }

  > span{
    margin-right: 5px;
    display: inline-block;
    text-align: center;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  > a{
    margin-left: 20px;
  }
}

.add_post_form_adtype_o1{
  label:after{
    content: '- You are offering an item for sale';
    color: #999999;
    font-weight: 300;
    margin-left: 5px;
  }
}

.add_post_form_adtype_o2{
  label:after{
    content: '- You want to buy an item';
    color: #999999;
    font-weight: 300;
    margin-left: 5px;
  }
}

.add_post_form_row_v_center{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.add_post_media_form_wrapper{
  display: flex;
  flex-direction: row;
  padding: 0 15px;
}

.add_post_media_input_wrapper{
  padding-right: 10%;
}

.alignTopWithoutGap{
  align-items: start !important;

  label{
    padding-top: 0;
  }
}

.tagsItem{
  height: 30px;
  line-height: 20px;
  background-color: #ececee !important;
  color: gray;
  font-weight: 300;
  font-size: 13px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}