.searchBar_category_wrapper{
  position: initial;
  height: 100%;
  border-top: 1px solid #D1D2D6;
  border-bottom: 1px solid #D1D2D6;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.searchBar_category_wrapper:focus{
  outline: initial !important;
  border: 1px solid #2681db !important;
  border-radius: 0;
  box-shadow: none !important;
}

.searchBar_category_wrapper btn-success:hover{
 border-color: #ebebed !important;
}

.searchBar_category_select{
  background-color: transparent !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  border-right: 0 !important;
  color: #3e4153 !important;
  height: 100%;
  width: 100%;
  font-weight: 300;
  border-left: 1px solid #ebebed;
  border-radius: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBar_category_select > div{
  flex: 2;
}

.searchBar_category_select:focus{
  outline: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.searchBar_category_select.btn-success.dropdown-toggle{
  border-color: #ebebed !important;
}

.searchBar_category_menu{
  width: 260px;
}

.searchBar_category_item{
  height: 40px;
  color: #3e4153;
  display: flex !important;
  align-items: center !important;
}

.searchBar_category_item:hover{
  background-color: #ebebed;
}

.searchBar_category_item.active{
  //background-color: #f4faf5;
  //color: #2d844c;
  background-color: #d5e5f5;
  color: #067ae9;
}

.searchBar_category_item:focus{
  color: #8a8a8a;
}

.searchBar_category_item > span{
  display: flex;
}

.searchBar_category_item > span:nth-child(1){
  flex: 1;
  color: #6e6e6e;
}

.searchBar_category_item.active > span:nth-child(1){
  color: #067ae9;
}

.searchBar_category_item > span:nth-child(2){
  flex: 5;
}

.searchBar_category_item > span:nth-child(3){
  flex: 1;
}